<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
    <link rel="preconnect", href="https://fonts.googleapis.com">
    <link rel="preconnect", href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet", href="/css/normalize.css">
    <link rel="stylesheet", href="/css/style.css">
</head>

<body style="background-color: #EAC926">
<header>
    <div>
        <img src="../images/logo-mercado-liebre.svg" alt="logo" width="1050" height="1050"></img>
    </div>
    <br>
    <div>
        <input type="text" size='80px' width="80px"/>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <br>
    <section><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de crédito
        <nav>
            <ul>
                <li><a hrf="#">Ofertas</a></li>
                <li><a hrf="#">Tiendas Oficiales</a></li>
                <li><a hrf="#">Vender</a></li>
                <li><a hrf="#">Ayuda</a></li>
                <br>
                <li><a hrf="#">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a hrf="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a hrf="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </section>
    <div>
        <img src="../images/img-home-banner.jpg" width="1045" height="250">
    </div>
    <br>
<section>
    <section><strong>Basado en tu última visita</strong>
        <article>
            <br>
            <img src="../images/img-cafetera-moulinex.jpg" alt="cafetera_moulinex" width="400" height="400"></img>
            <br>
            <p1>$6.700</p1>
            <br>
            <p2>40% OFF</p2>
            <br>
            <p3>Cafetera Moulinex</p3>
        </article>
        <article>
            <br>
            <img src="../images/img-macbook-pro-2019.jpg" alt="Macbook" width="400" height="400"></img>
            <br>
            <p1>$230.000</p1>
            <br>
            <p2>20% OFF</p2>
            <br>
            <p3>MacBook Pro 2019</p3>
        </article>
        <article>
            <br>
            <img src="../images/img-samsung-galaxy-s10.jpg" alt="Samsung_galaxy_S10" width="400" height="400"></img>
            <br>
            <p1>$70.500</p1>
            <br>
            <p2>10% OFF</p2>
            <br>
            <p3>Samsung Galaxy S10</p3>
        </article>
        <article>
            <br>
            <img src="../images/img-tv-samsung-smart.jpg" alt="Smart_TV" width="400" height="400"></img>
            <br>
            <p1>$23.200</p1>
            <br>
            <p2>5% OFF</p2>
            <br>
            <p3>SmartTv Samsung 43"</p3>
        </article>
    </section>
    <br>
</section>
<section>
    <section><strong>Seccion de Ofertas</strong>
        <article>
            <br>
            <img src="../images/img-cafetera-moulinex.jpg" alt="cafetera_moulinex" width="400" height="400"></img>
            <br>
            <p4>OFERTA DEL DIA</p4>
            <br>
            <p1>$6.700</p1>
            <br>
            <p2>40% OFF</p2>
            <br>
            <p3>Cafetera Moulinex</p3>
        </article>
        <article>
            <br>
            <img src="../images/img-macbook-pro-2019.jpg" alt="Macbook" width="400" height="400"></img>
            <br>
            <p4>OFERTA DEL DIA</p4>
            <br>
            <p1>$230.000</p1>
            <br>
            <p2>20% OFF</p2>
            <br>
            <p3>MacBook Pro 2019</p3>
        </article>
        <article>
            <br>
            <img src="../images/img-samsung-galaxy-s10.jpg" alt="Samsung_galaxy_S10" width="400" height="400"></img>
            <br>
            <p4>OFERTA DEL DIA</p4>
            <br>
            <p1>$70.500</p1>
            <br>
            <p2>10% OFF</p2>
            <br>
            <p3>Samsung Galaxy S10</p3>
        </article>
        <article>
            <br>
            <img src="../images/img-tv-samsung-smart.jpg" alt="Smart_TV" width="400" height="400"></img>
            <br>
            <p4>OFERTA DEL DIA</p4>
            <br>
            <p1>$23.200</p1>
            <br>
            <p2>5% OFF</p2>
            <br>
            <p3>SmartTv Samsung 43"</p3>
        </article>
    </section>
    <br>
</section>
<footer>
    <br>
    <div>
        <i class="fa-solid fa-credit-card"></i>
    </div>
    <section><strong>Paga con tarjeta o en efectivo</strong>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <br>
    <div>
        <i class="fa-solid fa-gift"></i>
    </div>
    <section><strong>Envío gratis desde $2.500</strong>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
    </section>
    <br>
    <div>
        <i class="fa-solid fa-user-shield"></i>
    </div>
    <section><strong>Seguridad, de principio a fin</strong>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </section>
    <div>
        <i class="fas fa-bars" class="cuadrado"></i>
    </div>
    <br>
</footer>
</header>
<br>
</body>
</html>

