<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estilos</title>
    <link rel="stylesheet" href="./public/css/styl.css">
    <script src="https://kit.fontawesome.com/4b6f922cb1.js" crossorigin="anonymous"></script></head>

<body style="background-color: #EAC926">
    <div>Espacio para el logo</div>    
        <header>   
            <input type="text" size='50px' width="50px"/>
            <i class="fa-solid fa-magnifying-glass"></i>
        </header>
    <h1>Titulo Principal</h1>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
</body>
</html>

