<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
                <title>Mercado Liebre - ingresa a tu cuenta</title>
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
                <link rel="preconnect", href="https://fonts.googleapis.com">
                <link rel="preconnect", href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
                <link rel="stylesheet", href="/css/normalize.css">
                <link rel="stylesheet", href="/css/styleFormularioIngreso.css">
                <link rel="icon" type="image/png" href="images/iconoLogo2.png"/>
    </head>
<body class="main">
    <div class="top">
        <img class="imagenLogo" src="../images/iconoLogo2.png" alt="logo" width="65" height= "50"></img>
    </div>
    <section class="box-formulario">
        <form class="formulario"action="" method="POST">
            <div>
                <label for="nombreUsuario">Nombre de usuario</label>
                <input type="text" name="nombreUsuario" required>
                <span class="feedback"></span>
            </div>
            <div>
                <label for="contraseña">Contraseña</label>
                <input type="text" name="contraseña" required>
                <span class="feedback"></span>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </section>   
</body>
</html>