 <!--FORMULARIOS-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <title>Mercado Liebre - crea tu cuenta</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
            <link rel="preconnect", href="https://fonts.googleapis.com">
            <link rel="preconnect", href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet", href="/css/normalize.css">
            <link rel="stylesheet", href="/css/styleFormularioRegistro.css">
            <link rel="icon" type="image/png" href="images/iconoLogo2.png"/>
</head>
<body class="main">
    <div class="top">
        <a title="logo" href="http://localhost:3001"><img class="imagenLogo" src="../images/iconoLogo2.png" alt="logo" width="65" height= "50"></img></a>
    </div>
    <section class="box-formulario">
        <form class="formulario" action="" method="POST">
            <h2 class="titulo">¡Bienvenido! Ingresa tus datos</h2>
            <div class="div-nombreApellido">
                <label class="subtitulos" for="nombreYApellido">Nombre y apellido:</label>
                <input class="inputs" type="text" name="nombreYApellido" required>
                <span class="feedback"></span>
            </div>
            <div class="div-usuario">
                <label class="subtitulos" for="nombreUsuario">Nombre de usuari@:</label>
                <input class="inputs"type="text" name="nombreUsuario" required>
                <span class="feedback"></span>
            </div>
            <div class="div-fechaNacimiento">
                <label class="subtitulos" for="fechaNacimiento">Fecha de nacimiento:</label>
                <input class="inputs" type="date" name="fechaNacimiento" required>
            </div>
            <div class="div-domicilio">
                <label class="subtitulos" for="domicilio">Domicilio:</label>
                <input class="inputs" type="text" name="domicilio" required>
            </div>
            <div class="div-perfilUsuario">
                <label class="subtitulos" for="perfilUsuario">Perfil de usuario:
                <input type="checkbox" name="perfilUsuario" value="perfil" checked>
                    Comprador
                </label>
                <label class="subtitulos" for="perfilUsuario">
                <input type="checkbox" name="perfilUsuario" value="perfil" required>
                    Vendedor
                </label>
            </div>
            <div class="div-intereses">
                <label class="subtitulos" for="intereses">Categorias de interés:</label>
                <select class="inputs" name="intereses">
                    <option value="intereses">Electro</option>
                    <option value="intereses">Moda</option>
                    <option value="intereses">Hogar</option>
                    <option value="intereses">Jugueteria</option>
                    <option value="intereses">Vida sana</option>
                </select>
            </div>
            <div class="div-fotoUsuario">
                <label class="subtitulos" for="fotoPerfil">Foto de usuario:</label>
                <input class="inputs" type="file" name="fotoUsuario" accept=".jpg,.png">
                <span class="feedback"></span>
            </div>
            <div class="div-contraseña">
                <label class="subtitulos" for="contraseña">Contraseña:</label>
                <input class="inputs" type="text" name="contraseña" min="10" required>
                <span class="feedback"></span>
            </div>
            <div class="div-confirmacionContraseña">
                <label class="subtitulos" for="confimacionContraseña">Confirmar contraseña:</label>
                <input  class="inputs" type="text" name="confimacionContraseña" min="10" required>
                <span class="feedback"></span>
            </div>
            <a class="botones" href="http://localhost:3001">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
            </a>
        </form>
    </section>
</body>
</html>