/*BREAKPOINT SMARTPHONE*/
@media(max-width: 480px){
*{box-sizing: border-box;}
/*PADRES*/
.main{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
header{
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.top{
    text-align: center;
    height: 40vh;
    flex-direction: column;
}



/*HEADERS*/
.bloque-logo{
    padding-top: 2%;
    width: 50vw;
    height: 40%;
    display: inline-block;
}
.bloque-logo img{
    width: 100%;
    height: 100%;
}
.bloque-buscador{
    display: flex;
    width: 100%;
    height: 16%;
    block-size: border-box;
    justify-content: center;
}
.buscador{
    display: flex;
    width: 55vw;
    height: 80%;
}
.buscador input{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
i.fa-solid.fa-magnifying-glass{
    color: rgb(77, 77, 77);
    font-size: 20px;
    position: relative;
    right: 28px;
    top: 6px;
}
.bloque-categorias{
    width:100vw;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.index-left{
    visibility: hidden;
    display: none;
}
.index-right{
    visibility: hidden;
    display: none;
}
.credito{
    text-align: center;
    width: 100%;
    height: 15%;
}
.box-burger{
    height: 20%;
}
i.fas.fa-bars{
    background-color:#03264c;
    color:  #ffff;
    display: block;
    max-width: 50px;           
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}
.banner{
    box-shadow: 0px 0px 10px 1px rgb(100, 100, 100);
    height: auto;
    position: relative;
}
.banner img{
    max-width: 479px;
    max-height: 200px;
    position: relative;
}



/*ARTICULOS*/
.tituloVisitas{
    font-size: 24px;
    line-height: 40px;
    height: 40%;
    padding-left: 35px;
    background-color:rgb(226, 226, 226);
    text-align: center;
    padding-right: 2rem;
    padding-top: 1rem;
}
.container{
    display: flex;
    flex-wrap:wrap;
}
.bloque-categorias{
    width:100vw;
    height: 20vh;
}
.containerProducts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.containerA{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: 35%h;
    background-color:rgb(226, 226, 226);
    justify-content: center;
}
.containerB{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: 35%h;
    background-color:rgb(226, 226, 226);
    justify-content: space-around;
    flex-grow: 1;
}
.article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 55vw;
    margin: 10px;
    border-radius: 0.2em;
}
.image-article img{
    text-align: center;
    width: 100%; 
    height: 100%; 
    border-radius: 0.2em;   
}
.line{
    border-top: 1px solid #ebebeb;
}
.detail{
    padding: 15px;
    width: 100%;
    background-color:#ffff;
    display: flex;
    flex-wrap: wrap;
}
i.fa-solid.fa-truck{
    color: #39b54a;
    font-size: 20px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1.5px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    justify-content: flex-end;
    position: relative;
    right: -45%;
    bottom: 35px;
}
productOffer{
    justify-content: center;
    font-size: 12px;
    color: white;
    background-color: blue;
    border-radius: 0.2rem;
    padding: 2px 2px;
    width: auto;
    height: 27px;
    position: relative;
    right: 50%;
    bottom: 30px;
}
productCost{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    width: 35%;
}
productPorcent{
    font-size: 16px;
    line-height: 26px;
    color: #39b54a;
    width: 95%;
    margin-right: 30% ;
}
productName{
    font-size: 16px;
    line-height: 26px;
    padding-right: 10px;
    width: 85%;
}
p5{
    font-size: 12px;
    line-height: 20px;
}



/*FOOTER*/
footer{
    text-align: center;
    background-color: white;
}
.design-footer{
    width:100vw;
    min-width: 480px;
    max-width: 480px;
    background-color: white;
    border-left: 35px solid white;
    border-right: 35px solid white;
}
i.fa-solid.fa-credit-card{
    font-size: 40px;
    color: blue;
}
i.fa-solid.fa-gift{
    font-size: 40px;
    color: blue;
}
i.fa-solid.fa-user-shield{
    font-size: 40px;
    color: blue;
}
.design-articles{
    width:100vw;
    background-color:rgb(226, 226, 226);
    border-left: 35px solid rgb(226, 226, 226);
    border-right: 35px solid rgb(226, 226, 226);
    border-bottom: 10px solid rgb(226, 226, 226);
    border-top: 40px solid rgb(226, 226, 226);
}
}

/*BREAKPOINT TABLETS*/
@media(min-width: 481px){
*{box-sizing: border-box;}
/*PADRES*/
.main{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
header{
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.top{
    max-height: 50vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}



/*HEADERS*/
.bloque-logo{
    padding: 2% 2% 2% 4%;
    width: 30vw;
    height: 30%;
    display: inline-block;
}
.bloque-logo img{
    width: 100%;
    height: 100%;
}
.bloque-buscador{
    padding-top: 38px;
    display: flex;
    width: 40vw;
    height: 30%;
    block-size: border-box;
    justify-content: flex-start;
}
.buscador{
    display: flex;
    width: 58vw;
    height: 38%;
}
.buscador input{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
i.fa-solid.fa-magnifying-glass{
    color: rgb(77, 77, 77);
    font-size: 15px;
    position: relative;
    right: 22px;
    top: 4.5px;
}
.credito{
    padding-left: 30px;
    display: flex;
    text-align: center;
    padding-top: 4%;
    width: 25vw;
    height: 30%;
}
.container-box{
    height: 60%;
}
.index-box{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;;
}
ul li a{
    cursor: pointer
}
.index-left{
    color: #050066;
    text-decoration: underline;
    width: 50%;
    height: 70%;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-around;
}
.index-right{
    color: #050066;
    text-decoration: underline;
    width: 50%;
    height: 70%;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-around;
}
i.fas.fa-bars{
    visibility: hidden;
    display: none;
}
.banner{
    height: 100%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100); 
}
.banner img{
    height: 20vh;
    width: 100%;
}



/*ARTICULOS*/
.tituloVisitas{
    font-size: 24px;
    line-height: 40px;
    height: 40%;
    padding-left: 35px;
    background-color:rgb(226, 226, 226);
}
.container{
    display: flex;
    flex-wrap:wrap;
}
.bloque-categorias{
    width:100vw;
    height: 20vh;
}
.containerProducts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.containerA{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: 35%h;
    background-color:rgb(226, 226, 226);
    justify-content: space-around;
}
.containerB{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: 35%h;
    background-color:rgb(226, 226, 226);
    justify-content: space-around;
    flex-grow: 1;
}
.article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 38vw;
    margin: 10px;
    border-radius: 0.2em;
}
.image-article img{
    text-align: center;
    width: 100%; 
    height: 100%;  
    border-radius: 0.2em;  
}
.line{
    border-top: 1px solid #ebebeb;
}
.detail{
    padding: 15px;
    width: 100%;
    background-color:#ffff;
    display: flex;
    flex-wrap: wrap;
}
i.fa-solid.fa-truck{
    color: #39b54a;
    font-size: 20px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1.5px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    justify-content: flex-end;
    position: relative;
    right: -75%;
    bottom: 35px;
}
productOffer{
    justify-content: center;
    font-size: 12px;
    color: white;
    background-color: blue;
    border-radius: 0.2rem;
    padding: 2px 2px;
    width: auto;
    height: 27px;
    position: relative;
    right: 25%;
    bottom: 30px;
}
productCost{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    width: 5%;
}
productPorcent{
    font-size: 16px;
    line-height: 26px;
    color: #39b54a;
    width: 95%;
    margin-right: 30% ;
}
productName{
    font-size: 16px;
    line-height: 26px;
    padding-right: 10px;
    width: 85%;
}
p5{
    font-size: 12px;
    line-height: 20px;
}



/*FOOTER*/
footer{
    text-align: center;
    background-color: white;
}
.design-footer{
    width:100vw;
    background-color: white;
    border-left: 35px solid white;
    border-right: 35px solid white;
}
i.fa-solid.fa-credit-card{
    font-size: 40px;
    color: blue;
}
i.fa-solid.fa-gift{
    font-size: 40px;
    color: blue;
}
i.fa-solid.fa-user-shield{
    font-size: 40px;
    color: blue;
}
.design-articles{
    width:100vw;
    background-color:rgb(226, 226, 226);
    border-left: 35px solid rgb(226, 226, 226);
    border-right: 35px solid rgb(226, 226, 226);
    border-bottom: 10px solid rgb(226, 226, 226);
    border-top: 40px solid rgb(226, 226, 226);
}
}

/*BREAKPOINT DESKTOP*/
@media(min-width: 769px){
*{box-sizing: border-box;}
/*PADRES*/
.main{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
header{
    display:flex;
}
.top{
    text-align: center;
    height: 10vh;
}



/*HEADERS*/
.bloque-logo{
    width: 20vw;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
}
.bloque-logo img{
    width: 17vw;
    height: 17vh;
    padding-left: 75px;
    padding-bottom: 45px;
}
.bloque-buscador{
    padding-top: 20px;
    display: flex;
    width: 43vw;
    height: 10vh;
    block-size: border-box;
    justify-content: flex-start;
}
.bloque-buscador input{
    width: 100%;
    height:70%;
}
i.fa-solid.fa-magnifying-glass{
    color: rgb(77, 77, 77);
    font-size: 28px;
    position: relative;
    right: 45px;
    top: 8.5px;
}
.credito{
    padding-top: 2%;
    display: flex;
    text-align: center;
    width: 30vw;
    height: 30%;
}
.container-box{
    height: 40%;    
}
.index-box{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
ul li a{
    cursor: pointer
}
.index-left{
    color: #050066;
    text-decoration: underline;
    width: 50%;
    height: 70%;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-around;
}
.index-right{
    color: #050066;
    text-decoration: underline;
    width: 50%;
    height: 70%;
    display:flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: space-around;
}
i.fas.fa-bars{
    visibility: hidden;
    display: none;
}
.banner{
    box-shadow: 0px 0px 10px rgb(100, 100, 100); 
}
.banner img{
    height: 100%;
    width: 100%;
}



/*ARTICULOS*/
.tituloVisitas{
    font-size: 24px;
    line-height: 40px;
    height: 40%;
    padding-left: 35px;
    padding-top: 10px;
    background-color:rgb(226, 226, 226);
}
.container{
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
}
.bloque-categorias{
    width:100vw;
    height: 20vh;
}
.containerProducts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.containerA{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: 35%;
    background-color:rgb(226, 226, 226);
    justify-content: space-around;
}
.containerB{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    height: 35%h;
    background-color:rgb(226, 226, 226);
    justify-content: space-around;
    flex-grow: 1;
    padding-bottom: 20px;
}
.article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 40vh;
    border-radius: 0.2em;
}
.image-article img{
    text-align: center;
    width: 100%; 
    height: 95%;
    border-radius: 0.2em;    
}
.line{
    border-top: 1px solid #ebebeb;
}
.detail{
    padding: 15px;
    width: 100%;
    background-color:#ffff;
    display: flex;
    flex-wrap: wrap;
}
i.fa-solid.fa-truck{
    color: #39b54a;
    font-size: 20px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1.5px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    justify-content: flex-end;
    position: relative;
    right: -78%;
    bottom: 35px;
}
productOffer{
    justify-content: center;
    font-size: 12px;
    color: white;
    background-color: blue;
    border-radius: 0.2rem;
    padding: 2px 2px;
    width: auto;
    height: 27px;
    position: relative;
    right: 13%;
    bottom: 34px;
}
productCost{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    width: 5%;
}
productPorcent{
    font-size: 16px;
    line-height: 26px;
    color: #39b54a;
    width: 95%;
    margin-right: 30% ;
}
productName{
    font-size: 16px;
    line-height: 26px;
    padding-right: 10px;
    width: 85%;
}
p5{
    font-size: 12px;
    line-height: 20px;
}



/*FOOTER*/
footer{
    text-align: center;
    background-color: white;
}
.design-footer{
    width:100vw;
    background-color: white;
    border-left: 35px solid white;
    border-right: 35px solid white;
}
i.fa-solid.fa-credit-card{
    font-size: 40px;
    color: blue;
}
i.fa-solid.fa-gift{
    font-size: 40px;
    color: blue;
}
i.fa-solid.fa-user-shield{
    font-size: 40px;
    color: blue;
}
.design-articles{
    width:100vw;
    background-color:rgb(226, 226, 226);
    border-left: 35px solid rgb(226, 226, 226);
    border-right: 35px solid rgb(226, 226, 226);
    border-bottom: 10px solid rgb(226, 226, 226);
    border-top: 40px solid rgb(226, 226, 226);
}
}
